{
    font-family:Arial, Helvetica, sans-seri;
    font-size: 16px;
}

body {
    background-color: rgb(185, 121, 245);

}

main {
    background-color:aliceblue;
    widht: 500px;
    margin: auto;
    padding: 250px;
    box-shadow: 125px 125px 125px black;
}

img.lado {
    float: right
}