{
    font-family:Arial, Helvetica, sans-seri;
    font-size: 16px;
}

body {
    background-color: rgb(185, 121, 245);

}

main {
    background-color:aliceblue;
    widht: 500px;
    margin: auto;
    padding: 20px;
    box-shadow: 5px 5px 5px black;
}

img.class lado {
    float: right(0, 0, 0, 5);
}